body {
 background-color: rgb(75, 66, 66);   
}
.cardContent {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    .cardContent img {
      height: 100px;
      width: 200px;
    .cardContent a {
      text-decoration: none;
      text-decoration: underline;
      color: white;
      font-size: 30px;
    }
  } 
}