.searchList  {
    border-style: solid;
    border-color: yellow;
    border-width: 0px 0px 3px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 1;
    margin: 2vh 0vh 0vh 0vh;
  
}
